<div class="masthead">
    <h3 class="text-muted">CCC Digital</h3>
    <ul class="nav nav-justified">
        <li ng-class="{active:tabMenu.isSet(1)}" ng-click="tabMenu.setTab(1)">
            <a href="#">Inicio</a>
        </li>
        <li ng-class="{active:tabMenu.isSet(2)}" ng-click="tabMenu.setTab(2)">
            <a href="#/productos">Productos</a>
        </li>
        <li ng-class="{active:tabMenu.isSet(3)}" ng-click="tabMenu.setTab(3)">
            <a href="#/servicios">Servicios</a>
        </li>
        <li ng-class="{active:tabMenu.isSet(4)}" ng-click="tabMenu.setTab(4)">
            <a href="#/login">Acceso</a>
        </li>
        <li ng-class="{active:tabMenu.isSet(5)}" ng-click="tabMenu.setTab(5)">
            <a href="#/nosotros">Nosotros</a>
        </li>
        <li ng-class="{active:tabMenu.isSet(6)}" ng-click="tabMenu.setTab(6)">
            <a href="#/contactos">Contactos</a>
        </li>
    </ul>
</div>